openapi: 3.0.3
info:
  title: Patricia API
  description: |
    Patricia Digital Out-of-Home (DOOH) Commercial Inventory Platform API.

    ## Updated Scope (2026-05-21)
    - Focus only on Sales Contract and Agency
    - Patricia provides sync endpoints only (no detail endpoints)
    - Gen21 stores synced data locally

    Patricia serves as the operational/device platform and source of truth for:
    - Location master data (sync only)
    - Device inventory (sync only)
    - Campaign distribution and execution
    - Showtime scheduling
    - Rate card references (sync only)
    - Slot inventory management (sync only)
    - Health monitoring
    - Agency management

    ## Authentication

    All API requests require HMAC-MD5 signature validation via KrakenD gateway plugin.

    ### Signature Scheme
    ```
    X-Signature = hex(HMAC-MD5(apiKey + secretKey + timestamp))
    ```

    ### Request Format

    #### GET Requests (query parameters)
    ```
    GET /patricia/v1/endpoint?channel_id=G21&api_key=xxxx&x_timestamp=1716307200&x_signature=<hex-hmac>
    ```

    #### POST/PUT/DELETE Requests (headers)
    ```
    POST /patricia/v1/endpoint
    Headers:
      ChannelId: G21
      Api_key: xxxx
      X-Timestamp: 1716307200
      X-Signature: <hex-hmac>
      Content-Type: application/json
      Accept: application/json
    ```

    ### Header/Query Parameter Names

    | Purpose | Header | Query Param |
    |---------|--------|-------------|
    | Channel ID | `ChannelId` | `channel_id` |
    | API Key | `Api_key` | `api_key` |
    | Timestamp | `X-Timestamp` | `x_timestamp` |
    | Signature | `X-Signature` | `x_signature` |

    ### Timestamp Format
    Unix epoch timestamp in seconds (e.g., `1716307200`). Clock skew tolerance: 300 seconds (5 minutes).

    ### Error Responses

    | Scenario | HTTP Status | Response Body |
    |----------|-------------|---------------|
    | Missing required params | 400 | `{"error": "missing channel_id"}` |
    | Credential not found | 401 | `{"error": "invalid credentials"}` |
    | Timestamp expired | 401 | `{"error": "request expired"}` |
    | Signature mismatch | 401 | `{"error": "invalid signature"}` |
    | Endpoint not authorized | 403 | `{"error": "endpoint not authorized"}` |

    ## Timestamp Standard
    All business timestamps use ISO8601 UTC format: `2026-05-12T10:00:00Z`
    Authentication timestamps use Unix epoch: `1716307200`

    ## HTTP Status Convention
    | Status | Meaning |
    |--------|---------|
    | 200 | Success |
    | 202 | Accepted async processing |
    | 400 | Invalid payload |
    | 401 | Unauthorized |
    | 403 | Forbidden |
    | 404 | Resource not found |
    | 409 | Duplicate conflict |
    | 422 | Business validation failed |
    | 500 | Internal server error |
  version: 1.0.0
  contact:
    name: Patricia API Support
  license:
    name: Proprietary
servers:
  - url: https://api.patricia.co.id
    description: Production
  - url: https://api.patricia.kubesnp.salt.id
    description: Staging
tags:
  - name: Master Data
    description: Location master data sync (Patricia = Source of Truth)
  - name: Organization
    description: Organization sync
  - name: Device
    description: Device inventory sync
  - name: Campaign
    description: Commercial campaign injection and management
  - name: Showtime
    description: Showtime categories, schedules, and slots
  - name: Rate Card
    description: Rate card sync
  - name: Inventory Slot
    description: Inventory slot sync
  - name: Health
    description: System health and operational monitoring
  - name: Agency
    description: Agency management
  - name: Playlist
    description: Playlist management for channel scheduling
paths:
  /master/v1/locations/sync:
    post:
      tags:
        - Master Data
      summary: Sync locations
      description: Sync all locations from Patricia to Gen21. Returns a complete list of locations with full details.
      operationId: syncLocations
      security:
        - HmacAuth: []
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SyncRequest"
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LocationSyncResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          $ref: "#/components/responses/InternalError"
  /organizations/v1/sync:
    post:
      tags:
        - Organization
      summary: Sync organizations
      description: Sync all organizations from Patricia to Gen21. Returns a complete list of organizations with full details.
      operationId: syncOrganizations
      security:
        - HmacAuth: []
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SyncRequest"
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OrganizationSyncResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          $ref: "#/components/responses/InternalError"
  /devices/v1/sync:
    post:
      tags:
        - Device
      summary: Sync devices
      description: Sync all devices from Patricia to Gen21. Returns a complete list of devices with full details including capabilities.
      operationId: syncDevices
      security:
        - HmacAuth: []
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SyncRequest"
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeviceSyncResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          $ref: "#/components/responses/InternalError"
  /rate-cards/v1/sync:
    post:
      tags:
        - Rate Card
      summary: Sync rate cards
      description: Sync all rate cards from Patricia to Gen21. Returns a complete list of rate cards with full details.
      operationId: syncRateCards
      security:
        - HmacAuth: []
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SyncRequest"
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RateCardSyncResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          $ref: "#/components/responses/InternalError"
  /inventories/v1/slots/sync:
    post:
      tags:
        - Inventory Slot
      summary: Sync inventory slots
      description: Sync all inventory slots from Patricia to Gen21. Returns a complete list of slots with full details.
      operationId: syncInventorySlots
      security:
        - HmacAuth: []
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SyncRequest"
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InventorySlotSyncResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          $ref: "#/components/responses/InternalError"
  /showtimes/v1/categories:
    get:
      tags:
        - Showtime
      summary: Get showtime categories
      description: Retrieve all showtime categories.
      operationId: getShowtimeCategories
      security:
        - HmacAuth: []
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ShowtimeCategoriesResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          $ref: "#/components/responses/InternalError"
  /showtimes/v1/schedules:
    get:
      tags:
        - Showtime
      summary: Get showtime schedules
      description: Retrieve all active showtime schedules.
      operationId: getShowtimeSchedules
      security:
        - HmacAuth: []
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ShowtimeSchedulesResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          $ref: "#/components/responses/InternalError"
  /showtimes/v1/slots:
    get:
      tags:
        - Showtime
      summary: Get slot configuration
      description: Retrieve showtime slot configuration. Per STO agreement: 1 Slot = 30 seconds.
      operationId: getShowtimeSlots
      security:
        - HmacAuth: []
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SlotConfigResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          $ref: "#/components/responses/InternalError"
  /campaigns/v1/commercial:
    post:
      tags:
        - Campaign
      summary: Create commercial campaign
      description: Inject a commercial campaign from Gen21 to Patricia.
      operationId: createCommercialCampaign
      security:
        - HmacAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateCampaignRequest"
      responses:
        "202":
          description: Campaign accepted for async processing
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateCampaignResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "409":
          $ref: "#/components/responses/Conflict"
        "422":
          $ref: "#/components/responses/ValidationError"
        "500":
          $ref: "#/components/responses/InternalError"
  /campaigns/v1/commercial/{campaign_id}:
    put:
      tags:
        - Campaign
      summary: Update commercial campaign
      description: Update an existing commercial campaign.
      operationId: updateCommercialCampaign
      security:
        - HmacAuth: []
      parameters:
        - name: campaign_id
          in: path
          required: true
          description: Patricia campaign ID
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateCampaignRequest"
      responses:
        "200":
          description: Campaign updated successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UpdateCampaignResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "422":
          $ref: "#/components/responses/ValidationError"
        "500":
          $ref: "#/components/responses/InternalError"
  /campaigns/v1/commercial/{campaign_id}/cancel:
    post:
      tags:
        - Campaign
      summary: Cancel commercial campaign
      description: Cancel an existing commercial campaign.
      operationId: cancelCommercialCampaign
      security:
        - HmacAuth: []
      parameters:
        - name: campaign_id
          in: path
          required: true
          description: Patricia campaign ID
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                reason:
                  type: string
                  description: Reason for cancellation
      responses:
        "200":
          description: Campaign cancelled successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CancelCampaignResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "500":
          $ref: "#/components/responses/InternalError"
  /campaigns/v1/commercial/{campaign_id}/status:
    get:
      tags:
        - Campaign
      summary: Get campaign status
      description: Check the distribution status of a campaign.
      operationId: getCampaignStatus
      security:
        - HmacAuth: []
      parameters:
        - name: campaign_id
          in: path
          required: true
          description: Patricia campaign ID
          schema:
            type: string
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CampaignStatusResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"
  /campaigns/v1/commercial/status/bulk:
    post:
      tags:
        - Campaign
      summary: Bulk campaign status check
      description: Check the status of multiple campaigns in bulk.
      operationId: bulkCampaignStatus
      security:
        - HmacAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - campaign_ids
              properties:
                campaign_ids:
                  type: array
                  items:
                    type: string
                  description: List of Patricia campaign IDs
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BulkCampaignStatusResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          $ref: "#/components/responses/InternalError"
  /campaigns/v1/replay:
    post:
      tags:
        - Campaign
      summary: Replay failed campaign distribution
      description: Retry distribution of a failed campaign.
      operationId: replayCampaign
      security:
        - HmacAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - campaign_id
              properties:
                campaign_id:
                  type: string
                  description: Patricia campaign ID to replay
      responses:
        "202":
          description: Replay accepted for processing
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: object
                    properties:
                      code:
                        type: string
                        example: CMP20003
                      message:
                        type: string
                        example: Replay accepted
                  data:
                    type: object
                    properties:
                      campaign_id:
                        type: string
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"
  /health/v1/integration:
    get:
      tags:
        - Health
      summary: Integration health check
      description: Check Patricia integration health status.
      operationId: getIntegrationHealth
      security:
        - HmacAuth: []
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HealthResponse"
        "500":
          $ref: "#/components/responses/InternalError"
  /health/v1/mqtt:
    get:
      tags:
        - Health
      summary: MQTT health check
      description: Check MQTT broker connectivity.
      operationId: getMqttHealth
      security:
        - HmacAuth: []
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MqttHealthResponse"
        "500":
          $ref: "#/components/responses/InternalError"
  /health/v1/devices:
    get:
      tags:
        - Health
      summary: Device health summary
      description: Get summary of device health status.
      operationId: getDeviceHealthSummary
      security:
        - HmacAuth: []
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeviceHealthSummaryResponse"
        "500":
          $ref: "#/components/responses/InternalError"
  /health/v1/storage:
    get:
      tags:
        - Health
      summary: Storage health check
      description: Check AWS S3 storage accessibility.
      operationId: getStorageHealth
      security:
        - HmacAuth: []
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StorageHealthResponse"
        "500":
          $ref: "#/components/responses/InternalError"
  /agencies/v1:
    post:
      tags:
        - Agency
      summary: Create new agency
      description: Create a new agency in Patricia system.
      operationId: createAgency
      security:
        - HmacAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateAgencyRequest"
      responses:
        "201":
          description: Agency created successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateAgencyResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "409":
          $ref: "#/components/responses/Conflict"
        "500":
          $ref: "#/components/responses/InternalError"
    get:
      tags:
        - Agency
      summary: List all agencies
      description: Retrieve a list of all agencies with optional filtering.
      operationId: listAgencies
      security:
        - HmacAuth: []
      parameters:
        - name: page
          in: query
          description: Page number
          schema:
            type: integer
            default: 1
        - name: limit
          in: query
          description: Items per page
          schema:
            type: integer
            default: 20
            maximum: 100
        - name: status
          in: query
          description: Filter by status
          schema:
            type: string
            enum:
              - Draft
              - Active
              - Inactive
              - Cancelled
        - name: agency_type
          in: query
          description: Filter by agency type
          schema:
            type: string
            enum:
              - Regular
              - Premium
        - name: search
          in: query
          description: Search by agency name or code
          schema:
            type: string
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgenciesListResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          $ref: "#/components/responses/InternalError"
  /agencies/v1/{agency_id}:
    put:
      tags:
        - Agency
      summary: Update agency details
      description: Update an existing agency's details.
      operationId: updateAgency
      security:
        - HmacAuth: []
      parameters:
        - name: agency_id
          in: path
          required: true
          description: Agency ID
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateAgencyRequest"
      responses:
        "200":
          description: Agency updated successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UpdateAgencyResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"
    delete:
      tags:
        - Agency
      summary: Delete agency
      description: Delete an agency from the system.
      operationId: deleteAgency
      security:
        - HmacAuth: []
      parameters:
        - name: agency_id
          in: path
          required: true
          description: Agency ID
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Agency deleted successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeleteAgencyResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"
  /playlist:
    post:
      tags:
        - Playlist
      summary: Create playlist
      description: Create a new playlist with video contents for a channel.
      operationId: createPlaylist
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreatePlaylistRequest"
      responses:
        "200":
          description: Playlist created successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreatePlaylistResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          $ref: "#/components/responses/InternalError"
    patch:
      tags:
        - Playlist
      summary: Update playlist
      description: Update an existing playlist's details and video contents.
      operationId: updatePlaylist
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdatePlaylistRequest"
      responses:
        "200":
          description: Playlist updated successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreatePlaylistResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"
    delete:
      tags:
        - Playlist
      summary: Delete playlist
      description: Delete a playlist by ID.
      operationId: deletePlaylist
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: query
          required: true
          description: Playlist ID
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Playlist deleted successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeletePlaylistResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"
    get:
      tags:
        - Playlist
      summary: Get all playlists
      description: Retrieve all playlists with pagination, filtering, and sorting.
      operationId: getAllPlaylists
      security:
        - BearerAuth: []
      parameters:
        - name: channel_id
          in: query
          description: Filter by channel ID
          schema:
            type: string
            format: uuid
        - name: status
          in: query
          description: Filter by status. Supports multiple values (e.g., status[0]=DRAFT&status[1]=APPROVE)
          schema:
            type: array
            items:
              type: string
              enum:
                - DRAFT
                - PENDING_PRODUCTION
                - REJECTED_PRODUCTION
                - PRODUCTION
                - PENDING_BROADCAST_READY
                - REJECTED_BROADCAST_READY
                - BROADCAST_READY
                - APPROVE
                - REJECT
        - name: page
          in: query
          description: Page number
          schema:
            type: integer
            default: 1
        - name: limit
          in: query
          description: Items per page
          schema:
            type: integer
            default: 10
        - name: sort_by
          in: query
          description: Sort field
          schema:
            type: string
            enum:
              - playlist_name
              - showtime
              - channel_name
        - name: sort_dir
          in: query
          description: Sort direction
          schema:
            type: string
            enum:
              - asc
              - desc
        - name: search_by
          in: query
          description: Search field
          schema:
            type: string
            enum:
              - playlist_name
        - name: search_value
          in: query
          description: Search keyword
          schema:
            type: string
        - name: from
          in: query
          description: Filter start date (YYYY-MM-DD)
          schema:
            type: string
            format: date
        - name: until
          in: query
          description: Filter end date (YYYY-MM-DD)
          schema:
            type: string
            format: date
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetAllPlaylistsResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          $ref: "#/components/responses/InternalError"
  /playlist/detail:
    get:
      tags:
        - Playlist
      summary: Get playlist by ID
      description: Retrieve a playlist's full details including video list.
      operationId: findPlaylistById
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: query
          required: true
          description: Playlist ID
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FindPlaylistByIdResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: |
        JWT Bearer token authentication for internal Patricia services.

        **Required Headers:**
        - `Authorization: Bearer <jwt_token>`
        - `X-User-Id`: User UUID (set by auth middleware)
        - `X-Organization-Id`: Organization UUID (set by auth middleware)
    HmacAuth:
      type: apiKey
      in: header
      name: X-Signature
      description: |
        HMAC-MD5 signature authentication via KrakenD gateway plugin.

        **Signature Scheme:**
        ```
        X-Signature = hex(HMAC-MD5(apiKey + secretKey + timestamp))
        ```

        **Required Headers (POST/PUT/DELETE):**
        - `ChannelId`: Integration channel identifier (e.g., G21)
        - `Api_key`: Public API key
        - `X-Timestamp`: Unix epoch timestamp in seconds
        - `X-Signature`: Hex-encoded HMAC-MD5 signature

        **Required Query Parameters (GET):**
        - `channel_id`: Integration channel identifier
        - `api_key`: Public API key
        - `x_timestamp`: Unix epoch timestamp in seconds
        - `x_signature`: Hex-encoded HMAC-MD5 signature

        **Clock Skew:** 300 seconds (5 minutes)
  schemas:
    SyncRequest:
      type: object
      properties:
        last_sync_at:
          type: string
          format: date-time
          description: Last sync timestamp. If provided, only returns data updated after this time
          example: "2026-05-20T10:00:00Z"
    Location:
      type: object
      properties:
        location_id:
          type: string
          format: uuid
          description: UUID of the location
        name:
          type: string
          description: Name of the location
        type:
          type: string
          enum:
            - PROVINCE
            - CITY
          description: Type of location
        timezone:
          type: string
          description: IANA timezone identifier
        parent_id:
          type: string
          format: uuid
          description: Parent location ID
        coordinates:
          type: object
          properties:
            latitude:
              type: number
            longitude:
              type: number
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    LocationSyncResponse:
      type: object
      properties:
        status:
          type: object
          properties:
            code:
              type: string
              example: MST20000
            message:
              type: string
              example: Locations synced successfully
        data:
          type: object
          properties:
            locations:
              type: array
              items:
                $ref: "#/components/schemas/Location"
            total_count:
              type: integer
            synced_at:
              type: string
              format: date-time
    Organization:
      type: object
      properties:
        organization_id:
          type: string
          format: uuid
        organization_name:
          type: string
        brand_name:
          type: string
        industry_id:
          type: string
        industry_name:
          type: string
        status:
          type: string
          enum:
            - ACTIVE
            - INACTIVE
        address:
          type: object
          properties:
            address_1:
              type: string
            address_2:
              type: string
            city:
              type: string
            post_code:
              type: string
            country:
              type: string
        contact_person:
          type: object
          properties:
            name:
              type: string
            email:
              type: string
            phone:
              type: string
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    OrganizationSyncResponse:
      type: object
      properties:
        status:
          type: object
          properties:
            code:
              type: string
              example: ORG20000
            message:
              type: string
              example: Organizations synced successfully
        data:
          type: object
          properties:
            organizations:
              type: array
              items:
                $ref: "#/components/schemas/Organization"
            total_count:
              type: integer
            synced_at:
              type: string
              format: date-time
    Device:
      type: object
      properties:
        device_id:
          type: string
          format: uuid
        device_label:
          type: string
        organization_id:
          type: string
          format: uuid
        organization_name:
          type: string
        location_id:
          type: string
          format: uuid
        location_name:
          type: string
        status:
          type: string
          enum:
            - ACTIVE
            - INACTIVE
        connection_status:
          type: string
          enum:
            - ONLINE
            - OFFLINE
        last_seen:
          type: string
          format: date-time
        latitude:
          type: number
        longitude:
          type: number
        capabilities:
          type: object
          properties:
            max_resolution:
              type: string
            video_codec:
              type: array
              items:
                type: string
            storage_mb:
              type: integer
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    DeviceSyncResponse:
      type: object
      properties:
        status:
          type: object
          properties:
            code:
              type: string
              example: DEV20000
            message:
              type: string
              example: Devices synced successfully
        data:
          type: object
          properties:
            devices:
              type: array
              items:
                $ref: "#/components/schemas/Device"
            total_count:
              type: integer
            synced_at:
              type: string
              format: date-time
    RateCard:
      type: object
      properties:
        rate_card_id:
          type: string
          format: uuid
        showtime_id:
          type: string
          format: uuid
        showtime_code:
          type: string
        showtime_name:
          type: string
        location_id:
          type: string
          format: uuid
        location_name:
          type: string
        slot_duration_seconds:
          type: integer
        currency:
          type: string
        base_price:
          type: number
        effective_start_date:
          type: string
          format: date
        effective_end_date:
          type: string
          format: date
        active:
          type: boolean
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    RateCardSyncResponse:
      type: object
      properties:
        status:
          type: object
          properties:
            code:
              type: string
              example: RTC20000
            message:
              type: string
              example: Rate cards synced successfully
        data:
          type: object
          properties:
            rate_cards:
              type: array
              items:
                $ref: "#/components/schemas/RateCard"
            total_count:
              type: integer
            synced_at:
              type: string
              format: date-time
    InventorySlot:
      type: object
      properties:
        slot_id:
          type: string
          format: uuid
        location_id:
          type: string
          format: uuid
        location_name:
          type: string
        showtime_id:
          type: string
          format: uuid
        showtime_code:
          type: string
        date:
          type: string
          format: date
        start_time:
          type: string
        end_time:
          type: string
        timezone:
          type: string
        slot_duration_seconds:
          type: integer
        available:
          type: boolean
        reserved:
          type: boolean
        pricing:
          type: object
          properties:
            base_price:
              type: number
            currency:
              type: string
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    InventorySlotSyncResponse:
      type: object
      properties:
        status:
          type: object
          properties:
            code:
              type: string
              example: INV20000
            message:
              type: string
              example: Inventory slots synced successfully
        data:
          type: object
          properties:
            slots:
              type: array
              items:
                $ref: "#/components/schemas/InventorySlot"
            total_count:
              type: integer
            synced_at:
              type: string
              format: date-time
    ShowtimeCategory:
      type: object
      properties:
        showtime_id:
          type: string
          format: uuid
        showtime_code:
          type: string
        showtime_name:
          type: string
        description:
          type: string
        priority:
          type: integer
        active:
          type: boolean
    ShowtimeCategoriesResponse:
      type: object
      properties:
        status:
          type: object
          properties:
            code:
              type: string
              example: SWT20000
            message:
              type: string
              example: Showtime categories successfully retrieved
        data:
          type: array
          items:
            $ref: "#/components/schemas/ShowtimeCategory"
    ShowtimeSchedule:
      type: object
      properties:
        schedule_id:
          type: string
          format: uuid
        showtime_id:
          type: string
          format: uuid
        days:
          type: array
          items:
            type: string
        start_time:
          type: string
        end_time:
          type: string
        timezone:
          type: string
        slot_duration_seconds:
          type: integer
    ShowtimeSchedulesResponse:
      type: object
      properties:
        status:
          type: object
          properties:
            code:
              type: string
              example: SWT20001
            message:
              type: string
              example: Showtime schedules successfully retrieved
        data:
          type: array
          items:
            $ref: "#/components/schemas/ShowtimeSchedule"
    SlotConfig:
      type: object
      properties:
        slot_duration_seconds:
          type: integer
          example: 30
        slots_per_minute:
          type: integer
          example: 2
        description:
          type: string
          example: "Per STO agreement: 1 Slot = 30 seconds"
    SlotConfigResponse:
      type: object
      properties:
        status:
          type: object
          properties:
            code:
              type: string
              example: SWT20002
            message:
              type: string
              example: Slot configuration successfully retrieved
        data:
          $ref: "#/components/schemas/SlotConfig"
    CreateCampaignRequest:
      type: object
      required:
        - external_campaign_id
        - campaign_name
        - organization_id
        - schedule
        - targets
        - media
      properties:
        external_campaign_id:
          type: string
        campaign_name:
          type: string
        organization_id:
          type: string
          format: uuid
        priority:
          type: integer
          default: 1
        schedule:
          type: object
          required:
            - start_at
            - end_at
          properties:
            start_at:
              type: string
              format: date-time
            end_at:
              type: string
              format: date-time
            timezone:
              type: string
        targets:
          type: object
          properties:
            device_ids:
              type: array
              items:
                type: string
                format: uuid
            location_ids:
              type: array
              items:
                type: string
                format: uuid
        media:
          type: array
          items:
            type: object
            required:
              - media_id
              - media_type
              - download_url
              - sha256
              - duration_seconds
            properties:
              media_id:
                type: string
              media_type:
                type: string
                enum:
                  - VIDEO
                  - IMAGE
              download_url:
                type: string
              sha256:
                type: string
              duration_seconds:
                type: integer
              filesize_bytes:
                type: integer
        timeshow_percent:
          type: integer
          minimum: 0
          maximum: 100
    CreateCampaignResponse:
      type: object
      properties:
        status:
          type: object
          properties:
            code:
              type: string
              example: CMP20000
            message:
              type: string
              example: Campaign created successfully
        data:
          type: object
          properties:
            campaign_id:
              type: string
            status:
              type: string
              enum:
                - ACCEPTED
                - PROCESSING
                - DISTRIBUTED
                - DOWNLOADED
                - ACTIVE
                - COMPLETED
                - FAILED
                - CANCELLED
            accepted_at:
              type: string
              format: date-time
    UpdateCampaignRequest:
      type: object
      properties:
        campaign_name:
          type: string
        priority:
          type: integer
        schedule:
          type: object
          properties:
            start_at:
              type: string
              format: date-time
            end_at:
              type: string
              format: date-time
            timezone:
              type: string
        targets:
          type: object
          properties:
            device_ids:
              type: array
              items:
                type: string
            location_ids:
              type: array
              items:
                type: string
        timeshow_percent:
          type: integer
          minimum: 0
          maximum: 100
    UpdateCampaignResponse:
      type: object
      properties:
        status:
          type: object
          properties:
            code:
              type: string
              example: CMP20001
            message:
              type: string
              example: Campaign updated successfully
        data:
          type: object
          properties:
            campaign_id:
              type: string
            status:
              type: string
            updated_at:
              type: string
              format: date-time
    CancelCampaignResponse:
      type: object
      properties:
        status:
          type: object
          properties:
            code:
              type: string
              example: CMP20002
            message:
              type: string
              example: Campaign cancelled successfully
        data:
          type: object
          properties:
            campaign_id:
              type: string
            status:
              type: string
              example: CANCELLED
            cancelled_at:
              type: string
              format: date-time
    CampaignStatusResponse:
      type: object
      properties:
        status:
          type: object
          properties:
            code:
              type: string
              example: CMP20003
            message:
              type: string
              example: Campaign status retrieved successfully
        data:
          type: object
          properties:
            campaign_id:
              type: string
            external_campaign_id:
              type: string
            status:
              type: string
              enum:
                - ACCEPTED
                - PROCESSING
                - DISTRIBUTED
                - DOWNLOADED
                - ACTIVE
                - COMPLETED
                - FAILED
                - CANCELLED
            distribution_progress:
              type: object
              properties:
                total_devices:
                  type: integer
                distributed_devices:
                  type: integer
                failed_devices:
                  type: integer
            updated_at:
              type: string
              format: date-time
    BulkCampaignStatusResponse:
      type: object
      properties:
        status:
          type: object
          properties:
            code:
              type: string
              example: CMP20004
            message:
              type: string
              example: Bulk campaign status retrieved successfully
        data:
          type: array
          items:
            $ref: "#/components/schemas/CampaignStatusResponse"
    HealthResponse:
      type: object
      properties:
        status:
          type: object
          properties:
            code:
              type: string
              example: HLT20000
            message:
              type: string
              example: Integration health status retrieved
        data:
          type: object
          properties:
            status:
              type: string
              enum:
                - HEALTHY
                - UNHEALTHY
            uptime_seconds:
              type: integer
            last_check:
              type: string
              format: date-time
    MqttHealthResponse:
      type: object
      properties:
        status:
          type: object
          properties:
            code:
              type: string
              example: HLT20001
            message:
              type: string
              example: MQTT health status retrieved
        data:
          type: object
          properties:
            status:
              type: string
              enum:
                - CONNECTED
                - DISCONNECTED
            broker_url:
              type: string
            connected_clients:
              type: integer
            last_check:
              type: string
              format: date-time
    DeviceHealthSummaryResponse:
      type: object
      properties:
        status:
          type: object
          properties:
            code:
              type: string
              example: HLT20002
            message:
              type: string
              example: Device health summary retrieved
        data:
          type: object
          properties:
            total_devices:
              type: integer
            online_devices:
              type: integer
            offline_devices:
              type: integer
            healthy:
              type: integer
            unhealthy:
              type: integer
    StorageHealthResponse:
      type: object
      properties:
        status:
          type: object
          properties:
            code:
              type: string
              example: HLT20003
            message:
              type: string
              example: Storage accessibility status retrieved
        data:
          type: object
          properties:
            status:
              type: string
              enum:
                - ACCESSIBLE
                - INACCESSIBLE
            storage_provider:
              type: string
            region:
              type: string
            last_access:
              type: string
              format: date-time
            response_time_ms:
              type: integer
    Address:
      type: object
      properties:
        address_1:
          type: string
        address_2:
          type: string
        city:
          type: string
        post_code:
          type: string
        phone:
          type: string
        fax:
          type: string
        mobile_number:
          type: string
        web:
          type: string
    ContactPerson:
      type: object
      properties:
        name:
          type: string
        title:
          type: string
        email:
          type: string
        phone:
          type: string
    AgencyDetails:
      type: object
      properties:
        npwp:
          type: string
        bank_account:
          type: string
        bank_name:
          type: string
    OtherInfo:
      type: object
      properties:
        notes:
          type: string
    CreateAgencyRequest:
      type: object
      required:
        - agency_code
        - agency_name
        - agency_type
        - status
      properties:
        agency_code:
          type: string
        agency_name:
          type: string
        agency_type:
          type: string
          enum:
            - Regular
            - Premium
        status:
          type: string
          enum:
            - Draft
            - Active
            - Inactive
        commercial_address:
          $ref: "#/components/schemas/Address"
        tax_address:
          $ref: "#/components/schemas/Address"
        contact_person:
          $ref: "#/components/schemas/ContactPerson"
        other_info:
          $ref: "#/components/schemas/OtherInfo"
        details:
          $ref: "#/components/schemas/AgencyDetails"
    CreateAgencyResponse:
      type: object
      properties:
        status:
          type: object
          properties:
            code:
              type: string
              example: AGY20000
            message:
              type: string
              example: Agency created successfully
        data:
          type: object
          properties:
            agency_id:
              type: string
              format: uuid
            agency_code:
              type: string
            created_at:
              type: string
              format: date-time
    UpdateAgencyRequest:
      type: object
      properties:
        agency_name:
          type: string
        status:
          type: string
          enum:
            - Draft
            - Active
            - Inactive
            - Cancelled
        commercial_address:
          $ref: "#/components/schemas/Address"
        tax_address:
          $ref: "#/components/schemas/Address"
        contact_person:
          $ref: "#/components/schemas/ContactPerson"
        other_info:
          $ref: "#/components/schemas/OtherInfo"
        details:
          $ref: "#/components/schemas/AgencyDetails"
    UpdateAgencyResponse:
      type: object
      properties:
        status:
          type: object
          properties:
            code:
              type: string
              example: AGY20001
            message:
              type: string
              example: Agency updated successfully
        data:
          type: object
          properties:
            agency_id:
              type: string
              format: uuid
            updated_at:
              type: string
              format: date-time
    DeleteAgencyResponse:
      type: object
      properties:
        status:
          type: object
          properties:
            code:
              type: string
              example: AGY20002
            message:
              type: string
              example: Agency deleted successfully
        data:
          type: object
          properties:
            agency_id:
              type: string
              format: uuid
            deleted_at:
              type: string
              format: date-time
    Agency:
      type: object
      properties:
        agency_id:
          type: string
          format: uuid
        agency_code:
          type: string
        agency_name:
          type: string
        agency_type:
          type: string
          enum:
            - Regular
            - Premium
        status:
          type: string
          enum:
            - Draft
            - Active
            - Inactive
            - Cancelled
        bill_to:
          type: string
        last_update:
          type: string
          format: date-time
        commercial_address:
          $ref: "#/components/schemas/Address"
        tax_address:
          $ref: "#/components/schemas/Address"
        contact_person:
          $ref: "#/components/schemas/ContactPerson"
        other_info:
          $ref: "#/components/schemas/OtherInfo"
        details:
          $ref: "#/components/schemas/AgencyDetails"
    AgencySummary:
      type: object
      properties:
        agency_id:
          type: string
          format: uuid
        agency_code:
          type: string
        agency_name:
          type: string
        agency_type:
          type: string
          enum:
            - Regular
            - Premium
        status:
          type: string
          enum:
            - Draft
            - Active
            - Inactive
            - Cancelled
        last_update:
          type: string
          format: date-time
    Pagination:
      type: object
      properties:
        page:
          type: integer
        limit:
          type: integer
        total:
          type: integer
        total_pages:
          type: integer
    AgenciesListResponse:
      type: object
      properties:
        status:
          type: object
          properties:
            code:
              type: string
              example: AGY20004
            message:
              type: string
              example: Agencies list retrieved successfully
        data:
          type: array
          items:
            $ref: "#/components/schemas/AgencySummary"
        pagination:
          $ref: "#/components/schemas/Pagination"
    PlaylistMeta:
      type: object
      properties:
        page:
          type: integer
        limit:
          type: integer
        page_count:
          type: integer
        total_count:
          type: integer
    PlaylistVideoItem:
      type: object
      properties:
        id:
          type: string
          format: uuid
    CreatePlaylistRequest:
      type: object
      required:
        - name
        - channel_id
        - playlist_type
      properties:
        name:
          type: string
        channel_id:
          type: string
          format: uuid
        on_air_schedule:
          type: string
          description: "On-air schedule (format: YYYY-MM-DD HH:mm:ss)"
        loop_enabled:
          type: boolean
          default: false
        playlist_type:
          type: string
          enum:
            - OFFLINE
            - ONLINE
        playlist_video:
          type: array
          items:
            $ref: "#/components/schemas/PlaylistVideoItem"
    UpdatePlaylistRequest:
      type: object
      required:
        - id
        - name
        - channel_id
        - playlist_type
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        channel_id:
          type: string
          format: uuid
        on_air_schedule:
          type: string
          description: "On-air schedule (format: YYYY-MM-DD HH:mm:ss)"
        loop_enabled:
          type: boolean
        playlist_type:
          type: string
          enum:
            - OFFLINE
            - ONLINE
        playlist_video:
          type: array
          items:
            $ref: "#/components/schemas/PlaylistVideoItem"
    CreatePlaylistResponse:
      type: object
      properties:
        status:
          type: object
          properties:
            code:
              type: string
              example: "000000"
            message:
              type: string
              example: "success"
        data:
          type: object
          properties:
            id:
              type: string
              format: uuid
    DeletePlaylistResponse:
      type: object
      properties:
        status:
          type: object
          properties:
            code:
              type: string
              example: "000000"
            message:
              type: string
              example: "success"
        data:
          type: object
          properties:
            id:
              type: string
              example: "success delete playlist with id 770e8400-e29b-41d4-a716-446655440003"
    GetAllPlaylistItem:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        channel_name:
          type: string
        air_date:
          type: string
          format: date
        air_time:
          type: string
        duration:
          type: integer
        status:
          type: string
          enum:
            - DRAFT
            - PENDING_PRODUCTION
            - REJECTED_PRODUCTION
            - PRODUCTION
            - PENDING_BROADCAST_READY
            - REJECTED_BROADCAST_READY
            - BROADCAST_READY
            - APPROVE
            - REJECT
        is_looping:
          type: boolean
        approved_by:
          type: string
        is_playing:
          type: boolean
    GetAllPlaylistsResponse:
      type: object
      properties:
        status:
          type: object
          properties:
            code:
              type: string
              example: "000000"
            message:
              type: string
              example: "success"
        data:
          type: array
          items:
            $ref: "#/components/schemas/GetAllPlaylistItem"
        meta:
          $ref: "#/components/schemas/PlaylistMeta"
    VideoInPlaylist:
      type: object
      properties:
        id:
          type: string
          format: uuid
        title:
          type: string
        show_times:
          type: string
        end_show_times:
          type: string
        upload_path:
          type: string
        thumbnail_url:
          type: string
        video_type:
          type: string
        status:
          type: string
        duration:
          type: integer
        is_deleted:
          type: boolean
    FindPlaylistByIdData:
      type: object
      properties:
        id:
          type: string
          format: uuid
        playlist_name:
          type: string
        channel_name:
          type: string
        channel_id:
          type: string
          format: uuid
        status:
          type: string
        showtime:
          type: string
        duration:
          type: integer
        created_by:
          type: string
        loop_enabled:
          type: boolean
        video_list:
          type: array
          items:
            $ref: "#/components/schemas/VideoInPlaylist"
        action_approval:
          type: boolean
    FindPlaylistByIdResponse:
      type: object
      properties:
        status:
          type: object
          properties:
            code:
              type: string
              example: "000000"
            message:
              type: string
              example: "success"
        data:
          $ref: "#/components/schemas/FindPlaylistByIdData"
  responses:
    BadRequest:
      description: Invalid request payload
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                type: string
    Unauthorized:
      description: Authentication failed
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                type: string
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                type: string
    Conflict:
      description: Duplicate conflict
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                type: string
    ValidationError:
      description: Business validation failed
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                type: string
    InternalError:
      description: Internal server error
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                type: string
