openapi: 3.0.3
info:
  title: Patricia API
  description: |
    Patricia Digital Out-of-Home (DOOH) Commercial Inventory Platform API.

    Patricia serves as the operational/device platform and source of truth for:
    - Location master data
    - Device inventory and capabilities
    - Campaign distribution and execution
    - Showtime scheduling
    - Rate card references
    - Slot inventory management
    - Health monitoring

    ## Authentication

    All API requests require HMAC-MD5 signature validation via KrakenD gateway plugin.

    ### Signature Scheme
    ```
    X-Signature = hex(HMAC-MD5(apiKey + secretKey + timestamp))
    ```

    ### Request Format

    #### GET Requests (query parameters)
    ```
    GET /patricia/v1/endpoint?channel_id=G21&api_key=xxxx&x_timestamp=1716307200&x_signature=<hex-hmac>
    ```

    #### POST/PUT/DELETE Requests (headers)
    ```
    POST /patricia/v1/endpoint
    Headers:
      ChannelId: G21
      Api_key: xxxx
      X-Timestamp: 1716307200
      X-Signature: <hex-hmac>
      Content-Type: application/json
      Accept: application/json
    ```

    ### Header/Query Parameter Names

    | Purpose | Header | Query Param |
    |---------|--------|-------------|
    | Channel ID | `ChannelId` | `channel_id` |
    | API Key | `Api_key` | `api_key` |
    | Timestamp | `X-Timestamp` | `x_timestamp` |
    | Signature | `X-Signature` | `x_signature` |

    ### Timestamp Format
    Unix epoch timestamp in seconds (e.g., `1716307200`). Clock skew tolerance: 300 seconds (5 minutes).

    ### Error Responses

    | Scenario | HTTP Status | Response Body |
    |----------|-------------|---------------|
    | Missing required params | 400 | `{"error": "missing channel_id"}` |
    | Credential not found | 401 | `{"error": "invalid credentials"}` |
    | Timestamp expired | 401 | `{"error": "request expired"}` |
    | Signature mismatch | 401 | `{"error": "invalid signature"}` |
    | Endpoint not authorized | 403 | `{"error": "endpoint not authorized"}` |

    ## Timestamp Standard
    All business timestamps use ISO8601 UTC format: `2026-05-12T10:00:00Z`
    Authentication timestamps use Unix epoch: `1716307200`

    ## HTTP Status Convention
    | Status | Meaning |
    |--------|---------|
    | 200 | Success |
    | 202 | Accepted async processing |
    | 400 | Invalid payload |
    | 401 | Unauthorized |
    | 403 | Forbidden |
    | 404 | Resource not found |
    | 409 | Duplicate conflict |
    | 422 | Business validation failed |
    | 500 | Internal server error |
  version: 1.0.0
  contact:
    name: Patricia API Support
  license:
    name: Proprietary

servers:
  - url: https://api.patricia.co.id
    description: Production
  - url: https://api.patricia.kubesnp.salt.id
    description: Staging

tags:
  - name: Master Data
    description: Location hierarchy and master data (Patricia = Source of Truth)
  - name: Organization
    description: Organization synchronization and product industry
  - name: Device
    description: Device inventory, capabilities, and health
  - name: Campaign
    description: Commercial campaign injection and management
  - name: Showtime
    description: Showtime categories, schedules, and slots
  - name: Rate Card
    description: Rate card pricing reference
  - name: Inventory Slot
    description: Slot availability and booking
  - name: Health
    description: System health and operational monitoring

paths:
  /master/v1/locations/hierarchy:
    get:
      tags:
        - Master Data
      summary: Get full location hierarchy
      description: Retrieve the complete location hierarchy from Province to City level.
      operationId: getLocationHierarchy
      security:
        - HmacAuth: []
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LocationHierarchyResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          $ref: "#/components/responses/InternalError"

  /master/v1/locations:
    get:
      tags:
        - Master Data
      summary: Get flat list of locations
      description: Retrieve a flat list of all locations.
      operationId: getLocations
      security:
        - HmacAuth: []
      parameters:
        - name: type
          in: query
          description: Filter by location type (PROVINCE, CITY)
          schema:
            type: string
            enum:
              - PROVINCE
              - CITY
        - name: page
          in: query
          description: Page number
          schema:
            type: integer
            default: 1
        - name: limit
          in: query
          description: Items per page
          schema:
            type: integer
            default: 50
            maximum: 100
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LocationListResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          $ref: "#/components/responses/InternalError"

  /master/v1/locations/{location_id}:
    get:
      tags:
        - Master Data
      summary: Get location details
      description: Retrieve details of a specific location.
      operationId: getLocationById
      security:
        - HmacAuth: []
      parameters:
        - name: location_id
          in: path
          required: true
          description: UUID of the location
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LocationDetailResponse"
        "404":
          $ref: "#/components/responses/NotFound"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          $ref: "#/components/responses/InternalError"

  /master/v1/locations/changes:
    get:
      tags:
        - Master Data
      summary: Get incremental location changes
      description: Retrieve incremental sync of location changes since a specific timestamp.
      operationId: getLocationChanges
      security:
        - HmacAuth: []
      parameters:
        - name: updated_after
          in: query
          required: true
          description: ISO8601 timestamp to get changes after
          schema:
            type: string
            format: date-time
            example: "2026-05-12T10:00:00Z"
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LocationChangesResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          $ref: "#/components/responses/InternalError"

  /master/v1/locations/validate:
    post:
      tags:
        - Master Data
      summary: Validate locations
      description: Validate a list of location IDs before creating a campaign.
      operationId: validateLocations
      security:
        - HmacAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/LocationValidationRequest"
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LocationValidationResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "422":
          $ref: "#/components/responses/ValidationError"
        "500":
          $ref: "#/components/responses/InternalError"

  /organizations/v1/sync:
    post:
      tags:
        - Organization
      summary: Sync organization
      description: Synchronize a new organization from Patricia to consumer systems.
      operationId: syncOrganization
      security:
        - HmacAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/OrganizationSyncRequest"
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OrganizationSyncResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "409":
          $ref: "#/components/responses/Conflict"
        "500":
          $ref: "#/components/responses/InternalError"

  /organizations/v1/{organization_id}:
    get:
      tags:
        - Organization
      summary: Get organization details
      description: Retrieve details of a specific organization.
      operationId: getOrganizationById
      security:
        - HmacAuth: []
      parameters:
        - name: organization_id
          in: path
          required: true
          description: UUID of the organization
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OrganizationDetailResponse"
        "404":
          $ref: "#/components/responses/NotFound"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          $ref: "#/components/responses/InternalError"

  /organizations/v1/product-industry:
    get:
      tags:
        - Organization
      summary: Get product industry master
      description: Retrieve the 4-level product industry hierarchy (Industry -> Category -> Sub-Category -> Product).
      operationId: getProductIndustry
      security:
        - HmacAuth: []
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProductIndustryResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          $ref: "#/components/responses/InternalError"

  /devices/v1/sync:
    post:
      tags:
        - Device
      summary: Sync device
      description: Synchronize a new device after pairing is completed.
      operationId: syncDevice
      security:
        - HmacAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DeviceSyncRequest"
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeviceSyncResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "409":
          $ref: "#/components/responses/Conflict"
        "500":
          $ref: "#/components/responses/InternalError"

  /devices/v1/availability:
    get:
      tags:
        - Device
      summary: Get device availability
      description: Retrieve available devices for commercial inventory.
      operationId: getDeviceAvailability
      security:
        - HmacAuth: []
      parameters:
        - name: location_id
          in: query
          description: Filter by location ID
          schema:
            type: string
            format: uuid
        - name: organization_id
          in: query
          description: Filter by organization ID
          schema:
            type: string
            format: uuid
        - name: status
          in: query
          description: Filter by device status
          schema:
            type: string
            enum:
              - ONLINE
              - OFFLINE
              - ALL
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeviceAvailabilityResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          $ref: "#/components/responses/InternalError"

  /devices/v1/health-check:
    post:
      tags:
        - Device
      summary: Bulk device health check
      description: Check online/offline status of multiple devices in bulk.
      operationId: bulkDeviceHealthCheck
      security:
        - HmacAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DeviceHealthCheckRequest"
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeviceHealthCheckResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          $ref: "#/components/responses/InternalError"

  /devices/v1/capabilities:
    get:
      tags:
        - Device
      summary: Get device capabilities
      description: Retrieve information about device capabilities.
      operationId: getDeviceCapabilities
      security:
        - HmacAuth: []
      parameters:
        - name: device_id
          in: query
          description: Filter by specific device ID
          schema:
            type: string
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeviceCapabilitiesResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          $ref: "#/components/responses/InternalError"

  /devices/v1/{device_id}:
    get:
      tags:
        - Device
      summary: Get device details
      description: Retrieve details of a specific device.
      operationId: getDeviceById
      security:
        - HmacAuth: []
      parameters:
        - name: device_id
          in: path
          required: true
          description: ID of the device
          schema:
            type: string
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeviceDetailResponse"
        "404":
          $ref: "#/components/responses/NotFound"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          $ref: "#/components/responses/InternalError"

  /campaigns/v1/commercial:
    post:
      tags:
        - Campaign
      summary: Create commercial campaign
      description: |
        Inject a commercial campaign from consumer system to Patricia.

        Campaign injection SUCCESS = Patricia accepted request + campaign persisted + MQTT distributed.

        Requires HMAC-MD5 signature validation via KrakenD gateway.
      operationId: createCommercialCampaign
      security:
        - HmacAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateCampaignRequest"
      responses:
        "202":
          description: Campaign accepted for async processing
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateCampaignResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "409":
          $ref: "#/components/responses/Conflict"
        "422":
          $ref: "#/components/responses/ValidationError"
        "500":
          $ref: "#/components/responses/InternalError"

  /campaigns/v1/commercial/{campaign_id}:
    put:
      tags:
        - Campaign
      summary: Update commercial campaign
      description: Update an existing commercial campaign.
      operationId: updateCommercialCampaign
      security:
        - HmacAuth: []
      parameters:
        - name: campaign_id
          in: path
          required: true
          description: Patricia campaign ID
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateCampaignRequest"
      responses:
        "200":
          description: Campaign updated successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UpdateCampaignResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "422":
          $ref: "#/components/responses/ValidationError"
        "500":
          $ref: "#/components/responses/InternalError"

  /campaigns/v1/commercial/{campaign_id}/cancel:
    post:
      tags:
        - Campaign
      summary: Cancel commercial campaign
      description: Cancel an existing commercial campaign. This is an irreversible action.
      operationId: cancelCommercialCampaign
      security:
        - HmacAuth: []
      parameters:
        - name: campaign_id
          in: path
          required: true
          description: Patricia campaign ID
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                reason:
                  type: string
                  description: Reason for cancellation
                  example: "Client requested cancellation"
      responses:
        "200":
          description: Campaign cancelled successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CancelCampaignResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "500":
          $ref: "#/components/responses/InternalError"

  /campaigns/v1/commercial/{campaign_id}/status:
    get:
      tags:
        - Campaign
      summary: Get campaign status
      description: Check the distribution status of a campaign.
      operationId: getCampaignStatus
      security:
        - HmacAuth: []
      parameters:
        - name: campaign_id
          in: path
          required: true
          description: Patricia campaign ID
          schema:
            type: string
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CampaignStatusResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"

  /campaigns/v1/commercial/status/bulk:
    post:
      tags:
        - Campaign
      summary: Bulk campaign status check
      description: Check the status of multiple campaigns in bulk.
      operationId: bulkCampaignStatus
      security:
        - HmacAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - campaign_ids
              properties:
                campaign_ids:
                  type: array
                  items:
                    type: string
                  description: List of Patricia campaign IDs
                  example:
                    - PAT-CMP-001
                    - PAT-CMP-002
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BulkCampaignStatusResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          $ref: "#/components/responses/InternalError"

  /campaigns/v1/replay:
    post:
      tags:
        - Campaign
      summary: Replay failed campaign distribution
      description: Retry distribution of a failed campaign.
      operationId: replayCampaign
      security:
        - HmacAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - campaign_id
              properties:
                campaign_id:
                  type: string
                  description: Patricia campaign ID to replay
      responses:
        "202":
          description: Replay accepted for processing
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalError"

  /showtimes/v1/categories:
    get:
      tags:
        - Showtime
      summary: Get showtime categories
      description: Retrieve all showtime categories.
      operationId: getShowtimeCategories
      security:
        - HmacAuth: []
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ShowtimeCategoriesResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          $ref: "#/components/responses/InternalError"

  /showtimes/v1/categories/{showtime_id}:
    get:
      tags:
        - Showtime
      summary: Get showtime category details
      description: Retrieve details of a specific showtime category.
      operationId: getShowtimeCategoryById
      security:
        - HmacAuth: []
      parameters:
        - name: showtime_id
          in: path
          required: true
          description: ID of the showtime category
          schema:
            type: string
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ShowtimeCategoryDetailResponse"
        "404":
          $ref: "#/components/responses/NotFound"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          $ref: "#/components/responses/InternalError"

  /showtimes/v1/schedules:
    get:
      tags:
        - Showtime
      summary: Get showtime schedules
      description: Retrieve all active showtime schedules.
      operationId: getShowtimeSchedules
      security:
        - HmacAuth: []
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ShowtimeSchedulesResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          $ref: "#/components/responses/InternalError"

  /showtimes/v1/schedules/active:
    get:
      tags:
        - Showtime
      summary: Get active showtime schedules
      description: Retrieve showtime schedules that are currently active based on current time.
      operationId: getActiveShowtimeSchedules
      security:
        - HmacAuth: []
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ShowtimeSchedulesResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          $ref: "#/components/responses/InternalError"

  /showtimes/v1/slots:
    get:
      tags:
        - Showtime
      summary: Get slot configuration
      description: "Retrieve showtime slot configuration. Per STO agreement: 1 Slot = 30 seconds."
      operationId: getSlotConfiguration
      security:
        - HmacAuth: []
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SlotConfigResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          $ref: "#/components/responses/InternalError"

  /rate-cards/v1:
    get:
      tags:
        - Rate Card
      summary: Get all rate cards
      description: Retrieve all rate cards.
      operationId: getRateCards
      security:
        - HmacAuth: []
      parameters:
        - name: active
          in: query
          description: Filter by active status
          schema:
            type: boolean
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RateCardListResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          $ref: "#/components/responses/InternalError"

  /rate-cards/v1/{rate_card_id}:
    get:
      tags:
        - Rate Card
      summary: Get rate card details
      description: Retrieve details of a specific rate card.
      operationId: getRateCardById
      security:
        - HmacAuth: []
      parameters:
        - name: rate_card_id
          in: path
          required: true
          description: ID of the rate card
          schema:
            type: string
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RateCardDetailResponse"
        "404":
          $ref: "#/components/responses/NotFound"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          $ref: "#/components/responses/InternalError"

  /rate-cards/v1/active:
    get:
      tags:
        - Rate Card
      summary: Get active rate cards
      description: Retrieve all currently active rate cards.
      operationId: getActiveRateCards
      security:
        - HmacAuth: []
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RateCardListResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          $ref: "#/components/responses/InternalError"

  /rate-cards/v1/validate:
    post:
      tags:
        - Rate Card
      summary: Validate rate card
      description: Validate a rate card for campaign pricing. Patricia provides base_price reference only.
      operationId: validateRateCard
      security:
        - HmacAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RateCardValidationRequest"
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RateCardValidationResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "422":
          $ref: "#/components/responses/ValidationError"
        "500":
          $ref: "#/components/responses/InternalError"

  /rate-cards/v1/changes:
    get:
      tags:
        - Rate Card
      summary: Get incremental rate card changes
      description: Retrieve incremental sync of rate card changes since a specific timestamp.
      operationId: getRateCardChanges
      security:
        - HmacAuth: []
      parameters:
        - name: updated_after
          in: query
          required: true
          description: ISO8601 timestamp to get changes after
          schema:
            type: string
            format: date-time
            example: "2026-05-12T10:00:00Z"
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RateCardChangesResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          $ref: "#/components/responses/InternalError"

  /inventories/v1/slots:
    get:
      tags:
        - Inventory Slot
      summary: Get inventory slots
      description: Retrieve all inventory slots.
      operationId: getInventorySlots
      security:
        - HmacAuth: []
      parameters:
        - name: location_id
          in: query
          description: Filter by location ID
          schema:
            type: string
            format: uuid
        - name: showtime_id
          in: query
          description: Filter by showtime ID
          schema:
            type: string
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InventorySlotsResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          $ref: "#/components/responses/InternalError"

  /inventories/v1/slots/availability:
    get:
      tags:
        - Inventory Slot
      summary: Get slot availability
      description: Retrieve slot availability based on time window.
      operationId: getSlotAvailability
      security:
        - HmacAuth: []
      parameters:
        - name: location_ids
          in: query
          description: Comma-separated list of location IDs
          schema:
            type: string
        - name: showtime_id
          in: query
          description: Filter by showtime ID
          schema:
            type: string
        - name: start_date
          in: query
          description: Start date for availability check
          schema:
            type: string
            format: date
        - name: end_date
          in: query
          description: End date for availability check
          schema:
            type: string
            format: date
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SlotAvailabilityResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          $ref: "#/components/responses/InternalError"

  /inventories/v1/slots/check:
    post:
      tags:
        - Inventory Slot
      summary: Check slot availability
      description: Check slot availability before booking. Returns available slots with base_price per showtime.
      operationId: checkSlotAvailability
      security:
        - HmacAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CheckSlotAvailabilityRequest"
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CheckSlotAvailabilityResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "422":
          $ref: "#/components/responses/ValidationError"
        "500":
          $ref: "#/components/responses/InternalError"

  /inventories/v1/slots/{slot_id}:
    get:
      tags:
        - Inventory Slot
      summary: Get inventory slot details
      description: Retrieve details of a specific inventory slot.
      operationId: getInventorySlotById
      security:
        - HmacAuth: []
      parameters:
        - name: slot_id
          in: path
          required: true
          description: ID of the inventory slot
          schema:
            type: string
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InventorySlotDetailResponse"
        "404":
          $ref: "#/components/responses/NotFound"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          $ref: "#/components/responses/InternalError"

  /health/v1/integration:
    get:
      tags:
        - Health
      summary: Integration health check
      description: Check the health status of Patricia integration services.
      operationId: getIntegrationHealth
      security:
        - HmacAuth: []
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HealthResponse"
        "500":
          $ref: "#/components/responses/InternalError"

  /health/v1/mqtt:
    get:
      tags:
        - Health
      summary: MQTT broker health check
      description: Check MQTT broker connectivity status.
      operationId: getMqttHealth
      security:
        - HmacAuth: []
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MqttHealthResponse"
        "500":
          $ref: "#/components/responses/InternalError"

  /health/v1/devices:
    get:
      tags:
        - Health
      summary: Device health summary
      description: Get summary of device health status.
      operationId: getDeviceHealthSummary
      security:
        - HmacAuth: []
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeviceHealthSummaryResponse"
        "500":
          $ref: "#/components/responses/InternalError"

  /health/v1/storage:
    get:
      tags:
        - Health
      summary: Storage health check
      description: Check AWS S3 storage accessibility.
      operationId: getStorageHealth
      security:
        - HmacAuth: []
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StorageHealthResponse"
        "500":
          $ref: "#/components/responses/InternalError"

components:
  securitySchemes:
    HmacAuth:
      type: apiKey
      in: header
      name: X-Signature
      description: |
        HMAC-MD5 signature authentication via KrakenD gateway plugin.

        **Signature Scheme:**
        ```
        X-Signature = hex(HMAC-MD5(apiKey + secretKey + timestamp))
        ```

        **Required Headers (POST/PUT/DELETE):**
        - `ChannelId`: Integration channel identifier (e.g., G21)
        - `Api_key`: Public API key
        - `X-Timestamp`: Unix epoch timestamp in seconds
        - `X-Signature`: Hex-encoded HMAC-MD5 signature

        **Required Query Parameters (GET):**
        - `channel_id`: Integration channel identifier
        - `api_key`: Public API key
        - `x_timestamp`: Unix epoch timestamp in seconds
        - `x_signature`: Hex-encoded HMAC-MD5 signature

        **Clock Skew:** 300 seconds (5 minutes)

        **Example (POST):**
        ```bash
        TIMESTAMP=$(date +%s)
        API_KEY="xxxx"
        SECRET_KEY="secret-key-1"
        SIGNATURE=$(echo -n "${API_KEY}${SECRET_KEY}${TIMESTAMP}" | openssl dgst -md5 -hmac "${SECRET_KEY}" -hex | awk '{print $NF}')

        curl -X POST https://api.patricia.io/campaigns/v1/commercial \
          -H "ChannelId: G21" \
          -H "Api_key: ${API_KEY}" \
          -H "X-Timestamp: ${TIMESTAMP}" \
          -H "X-Signature: ${SIGNATURE}" \
          -H "Content-Type: application/json" \
          -d '{"external_campaign_id":"GEN21-CMP-001",...}'
        ```

        **Example (GET):**
        ```bash
        curl "https://api.patricia.io/master/v1/locations/hierarchy?channel_id=G21&api_key=${API_KEY}&x_timestamp=${TIMESTAMP}&x_signature=${SIGNATURE}"
        ```

  schemas:
    GatewayErrorResponse:
      description: Error response from KrakenD gateway (HMAC authentication layer)
      type: object
      properties:
        error:
          type: string
          description: Gateway error message
      example:
        error: invalid signature

    ServiceErrorResponse:
      description: Error response from Patricia service (business logic layer)
      type: object
      properties:
        status:
          type: object
          properties:
            code:
              type: string
              description: Service-specific error code
            message:
              type: string
              description: Human-readable error description
      example:
        status:
          code: MST40101
          message: Unauthorized

    ErrorResponse:
      description: Generic error response (deprecated, use GatewayErrorResponse or ServiceErrorResponse)
      type: object
      properties:
        error:
          type: string
          description: Error message
      example:
        error: invalid signature

    Location:
      type: object
      properties:
        location_id:
          type: string
          format: uuid
          description: UUID of the location
          example: CITY-001
        name:
          type: string
          description: Name of the location
          example: Bandung
        type:
          type: string
          enum:
            - PROVINCE
            - CITY
          description: Type of location
        timezone:
          type: string
          description: IANA timezone identifier
          example: Asia/Jakarta
        parent_id:
          type: string
          format: uuid
          description: Parent location ID (for hierarchical relationships)
        children:
          type: array
          items:
            $ref: "#/components/schemas/Location"
          description: Child locations (for hierarchy)

    LocationHierarchyResponse:
      type: object
      properties:
        status:
          type: object
          properties:
            code:
              type: string
              example: MST20000
            message:
              type: string
              example: Location hierarchy successfully retrieved
        data:
          type: array
          items:
            $ref: "#/components/schemas/Location"

    LocationListResponse:
      type: object
      properties:
        status:
          type: object
          properties:
            code:
              type: string
              example: MST20001
            message:
              type: string
              example: Locations successfully retrieved
        data:
          type: array
          items:
            $ref: "#/components/schemas/Location"
        pagination:
          type: object
          properties:
            page:
              type: integer
            limit:
              type: integer
            total:
              type: integer

    LocationDetailResponse:
      type: object
      properties:
        status:
          type: object
          properties:
            code:
              type: string
              example: MST20002
            message:
              type: string
              example: Location details successfully retrieved
        data:
          $ref: "#/components/schemas/Location"

    LocationChangesResponse:
      type: object
      properties:
        status:
          type: object
          properties:
            code:
              type: string
              example: MST20003
            message:
              type: string
              example: Location changes successfully retrieved
        data:
          type: array
          items:
            type: object
            properties:
              location_id:
                type: string
                format: uuid
              change_type:
                type: string
                enum:
                  - CREATED
                  - UPDATED
                  - DELETED
              updated_at:
                type: string
                format: date-time
              data:
                $ref: "#/components/schemas/Location"

    LocationValidationRequest:
      type: object
      required:
        - location_ids
      properties:
        location_ids:
          type: array
          items:
            type: string
            format: uuid
          description: List of location IDs to validate

    LocationValidationResponse:
      type: object
      properties:
        status:
          type: object
          properties:
            code:
              type: string
              example: MST20004
            message:
              type: string
              example: Location validation completed
        data:
          type: object
          properties:
            valid_locations:
              type: array
              items:
                type: string
            invalid_locations:
              type: array
              items:
                type: string

    OrganizationSyncRequest:
      type: object
      required:
        - organization_id
        - organization_name
      properties:
        organization_id:
          type: string
          format: uuid
          description: UUID of the organization
          example: ORG-001
        organization_name:
          type: string
          description: Legal name of the organization
          example: ABC Corp
        brand_name:
          type: string
          description: Brand/trading name
          example: ABC
        industry_id:
          type: string
          description: Product industry classification ID

    OrganizationSyncResponse:
      type: object
      properties:
        status:
          type: object
          properties:
            code:
              type: string
              example: ORG20000
            message:
              type: string
              example: Organization synced successfully
        data:
          type: object
          properties:
            external_client_id:
              type: string
              description: Client ID assigned by consumer system
              example: GEN21-CLI-001

    OrganizationDetailResponse:
      type: object
      properties:
        status:
          type: object
          properties:
            code:
              type: string
              example: ORG20001
            message:
              type: string
              example: Organization details successfully retrieved
        data:
          type: object
          properties:
            organization_id:
              type: string
              format: uuid
            organization_name:
              type: string
            brand_name:
              type: string
            industry_id:
              type: string
            created_at:
              type: string
              format: date-time
            updated_at:
              type: string
              format: date-time

    ProductIndustryResponse:
      type: object
      properties:
        status:
          type: object
          properties:
            code:
              type: string
              example: ORG20002
            message:
              type: string
              example: Product industry data successfully retrieved
        data:
          type: array
          items:
            type: object
            properties:
              industry_id:
                type: string
              industry_name:
                type: string
              categories:
                type: array
                items:
                  type: object
                  properties:
                    category_id:
                      type: string
                    category_name:
                      type: string
                    sub_categories:
                      type: array
                      items:
                        type: object
                        properties:
                          sub_category_id:
                            type: string
                          sub_category_name:
                            type: string
                          products:
                            type: array
                            items:
                              type: object
                              properties:
                                product_id:
                                  type: string
                                product_name:
                                  type: string

    DeviceCapabilities:
      type: object
      properties:
        max_resolution:
          type: string
          description: Maximum display resolution
          example: 1920x1080
        video_codec:
          type: array
          items:
            type: string
          description: Supported video codecs
          example:
            - H264
        storage_mb:
          type: integer
          description: Available storage in megabytes
          example: 16000
        audio_supported:
          type: boolean
          description: Whether device supports audio
        interactive_supported:
          type: boolean
          description: Whether device supports interactive content

    DeviceSyncRequest:
      type: object
      required:
        - device_id
        - device_label
        - organization_id
        - location_id
      properties:
        device_id:
          type: string
          description: Unique device identifier
          example: DEV-001
        device_label:
          type: string
          description: Human-readable device label
          example: Lobby TV
        organization_id:
          type: string
          format: uuid
          description: Owning organization ID
          example: ORG-001
        location_id:
          type: string
          format: uuid
          description: Location ID where device is installed
          example: CITY-001
        latitude:
          type: number
          format: double
          description: GPS latitude
          example: -6.123
        longitude:
          type: number
          format: double
          description: GPS longitude
          example: 106.123
        capabilities:
          $ref: "#/components/schemas/DeviceCapabilities"

    DeviceSyncResponse:
      type: object
      properties:
        status:
          type: object
          properties:
            code:
              type: string
              example: DEV20000
            message:
              type: string
              example: Device synced successfully
        data:
          type: object
          properties:
            inventory_status:
              type: string
              enum:
                - ACTIVE
                - PENDING
                - INACTIVE
              example: ACTIVE

    DeviceAvailabilityResponse:
      type: object
      properties:
        status:
          type: object
          properties:
            code:
              type: string
              example: DEV20001
            message:
              type: string
              example: Device availability successfully retrieved
        data:
          type: object
          properties:
            available_devices:
              type: integer
            total_devices:
              type: integer
            unavailable_devices:
              type: integer

    DeviceHealthCheckRequest:
      type: object
      properties:
        device_ids:
          type: array
          items:
            type: string
          description: List of device IDs to check

    DeviceHealthCheckResponse:
      type: object
      properties:
        status:
          type: object
          properties:
            code:
              type: string
              example: DEV20002
            message:
              type: string
              example: Device health check completed
        data:
          type: array
          items:
            type: object
            properties:
              device_id:
                type: string
              status:
                type: string
                enum:
                  - ONLINE
                  - OFFLINE
              last_seen:
                type: string
                format: date-time

    DeviceCapabilitiesResponse:
      type: object
      properties:
        status:
          type: object
          properties:
            code:
              type: string
              example: DEV20003
            message:
              type: string
              example: Device capabilities successfully retrieved
        data:
          type: array
          items:
            type: object
            properties:
              capability_id:
                type: string
              capability_name:
                type: string
              description:
                type: string

    DeviceDetailResponse:
      type: object
      properties:
        status:
          type: object
          properties:
            code:
              type: string
              example: DEV20004
            message:
              type: string
              example: Device details successfully retrieved
        data:
          type: object
          properties:
            device_id:
              type: string
            device_label:
              type: string
            organization_id:
              type: string
              format: uuid
            location_id:
              type: string
              format: uuid
            latitude:
              type: number
            longitude:
              type: number
            status:
              type: string
              enum:
                - ACTIVE
                - INACTIVE
            capabilities:
              $ref: "#/components/schemas/DeviceCapabilities"
            created_at:
              type: string
              format: date-time
            updated_at:
              type: string
              format: date-time

    CampaignSchedule:
      type: object
      required:
        - start_at
        - end_at
      properties:
        start_at:
          type: string
          format: date-time
          description: Campaign start time (ISO8601 UTC)
          example: "2026-05-12T00:00:00Z"
        end_at:
          type: string
          format: date-time
          description: Campaign end time (ISO8601 UTC)
          example: "2026-05-20T00:00:00Z"
        timezone:
          type: string
          description: IANA timezone for scheduling
          example: Asia/Jakarta

    CampaignTarget:
      type: object
      properties:
        device_ids:
          type: array
          items:
            type: string
          description: Specific device IDs to target (optional if location_ids provided)
        location_ids:
          type: array
          items:
            type: string
            format: uuid
          description: Location IDs to target (optional if device_ids provided)
          example:
            - CITY-001

    CampaignMedia:
      type: object
      required:
        - media_id
        - media_type
        - download_url
        - sha256
      properties:
        media_id:
          type: string
          description: Unique media identifier
          example: MEDIA-001
        media_type:
          type: string
          enum:
            - VIDEO
            - IMAGE
          description: Type of media content
        download_url:
          type: string
          format: uri
          description: URL to download the media asset
          example: https://s3.amazonaws.com/bucket/media.mp4
        sha256:
          type: string
          description: SHA-256 hash of the media file for integrity verification
          example: xxxxx
        duration_seconds:
          type: integer
          description: Duration of the media in seconds
          example: 30
        filesize_bytes:
          type: integer
          description: File size in bytes
          example: 10485760

    CreateCampaignRequest:
      type: object
      required:
        - external_campaign_id
        - campaign_name
        - organization_id
        - schedule
        - targets
        - media
      properties:
        external_campaign_id:
          type: string
          description: Campaign ID from the external system
          example: GEN21-CMP-001
        campaign_name:
          type: string
          description: Human-readable campaign name
          example: Promo Ramadhan
        organization_id:
          type: string
          format: uuid
          description: Owning organization ID
          example: ORG-001
        priority:
          type: integer
          description: Campaign priority (1 = highest)
          example: 1
        schedule:
          $ref: "#/components/schemas/CampaignSchedule"
        targets:
          $ref: "#/components/schemas/CampaignTarget"
        media:
          type: array
          items:
            $ref: "#/components/schemas/CampaignMedia"
          minItems: 1
        timeshow_percent:
          type: integer
          minimum: 0
          maximum: 100
          description: Percentage of timeshow allocation
          example: 80

    CreateCampaignResponse:
      type: object
      properties:
        status:
          type: object
          properties:
            code:
              type: string
              example: CMP20000
            message:
              type: string
              example: Campaign created successfully
        data:
          type: object
          properties:
            campaign_id:
              type: string
              description: Patricia-assigned campaign ID
              example: PAT-CMP-001
            status:
              type: string
              enum:
                - ACCEPTED
                - PROCESSING
                - DISTRIBUTED
                - DOWNLOADED
                - ACTIVE
                - COMPLETED
                - FAILED
                - CANCELLED
              example: ACCEPTED
            accepted_at:
              type: string
              format: date-time
              example: "2026-05-12T10:00:00Z"

    UpdateCampaignRequest:
      type: object
      properties:
        campaign_name:
          type: string
        priority:
          type: integer
        schedule:
          $ref: "#/components/schemas/CampaignSchedule"
        targets:
          $ref: "#/components/schemas/CampaignTarget"
        timeshow_percent:
          type: integer
          minimum: 0
          maximum: 100

    UpdateCampaignResponse:
      type: object
      properties:
        status:
          type: object
          properties:
            code:
              type: string
              example: CMP20001
            message:
              type: string
              example: Campaign updated successfully
        data:
          type: object
          properties:
            campaign_id:
              type: string
            status:
              type: string
            updated_at:
              type: string
              format: date-time

    CancelCampaignResponse:
      type: object
      properties:
        status:
          type: object
          properties:
            code:
              type: string
              example: CMP20002
            message:
              type: string
              example: Campaign cancelled successfully
        data:
          type: object
          properties:
            campaign_id:
              type: string
            status:
              type: string
              example: CANCELLED
            cancelled_at:
              type: string
              format: date-time

    CampaignStatusResponse:
      type: object
      properties:
        status:
          type: object
          properties:
            code:
              type: string
              example: CMP20003
            message:
              type: string
              example: Campaign status successfully retrieved
        data:
          type: object
          properties:
            campaign_id:
              type: string
            external_campaign_id:
              type: string
            status:
              type: string
              enum:
                - ACCEPTED
                - PROCESSING
                - DISTRIBUTED
                - DOWNLOADED
                - ACTIVE
                - COMPLETED
                - FAILED
                - CANCELLED
            progress:
              type: object
              properties:
                distributed_devices:
                  type: integer
                total_devices:
                  type: integer
                completion_percentage:
                  type: integer
            timestamps:
              type: object
              properties:
                accepted_at:
                  type: string
                  format: date-time
                processing_started_at:
                  type: string
                  format: date-time
                distributed_at:
                  type: string
                  format: date-time

    BulkCampaignStatusResponse:
      type: object
      properties:
        status:
          type: object
          properties:
            code:
              type: string
              example: CMP20004
            message:
              type: string
              example: Bulk campaign status retrieved
        data:
          type: array
          items:
            type: object
            properties:
              campaign_id:
                type: string
              status:
                type: string
              updated_at:
                type: string
                format: date-time

    ShowtimeCategory:
      type: object
      properties:
        showtime_id:
          type: string
          example: SHOW-001
        showtime_code:
          type: string
          example: PRIME_TIME
        showtime_name:
          type: string
          example: Prime Time
        description:
          type: string
          example: Jam tayang premium
        priority:
          type: integer
          description: Priority level (1 = highest)
          example: 1
        active:
          type: boolean
          example: true

    ShowtimeCategoriesResponse:
      type: object
      properties:
        status:
          type: object
          properties:
            code:
              type: string
              example: SHW20000
            message:
              type: string
              example: Showtime categories successfully retrieved
        data:
          type: array
          items:
            $ref: "#/components/schemas/ShowtimeCategory"

    ShowtimeCategoryDetailResponse:
      type: object
      properties:
        status:
          type: object
          properties:
            code:
              type: string
              example: SHW20001
            message:
              type: string
              example: Showtime category details successfully retrieved
        data:
          $ref: "#/components/schemas/ShowtimeCategory"

    ShowtimeSchedule:
      type: object
      properties:
        schedule_id:
          type: string
          example: SCH-001
        showtime_id:
          type: string
          example: SHOW-001
        days:
          type: array
          items:
            type: string
            enum:
              - MONDAY
              - TUESDAY
              - WEDNESDAY
              - THURSDAY
              - FRIDAY
              - SATURDAY
              - SUNDAY
          example:
            - MONDAY
            - TUESDAY
            - WEDNESDAY
        start_time:
          type: string
          description: Schedule start time (HH:mm:ss)
          example: "18:00:00"
        end_time:
          type: string
          description: Schedule end time (HH:mm:ss)
          example: "22:00:00"
        timezone:
          type: string
          example: Asia/Jakarta
        slot_duration_seconds:
          type: integer
          description: Duration of each slot in seconds
          example: 30

    ShowtimeSchedulesResponse:
      type: object
      properties:
        status:
          type: object
          properties:
            code:
              type: string
              example: SHW20002
            message:
              type: string
              example: Showtime schedules successfully retrieved
        data:
          type: array
          items:
            $ref: "#/components/schemas/ShowtimeSchedule"

    SlotConfigResponse:
      type: object
      properties:
        status:
          type: object
          properties:
            code:
              type: string
              example: SHW20004
            message:
              type: string
              example: Showtime slot configuration successfully retrieved
        data:
          type: array
          items:
            type: object
            properties:
              slot_id:
                type: string
              showtime_id:
                type: string
              duration_seconds:
                type: integer
                description: "Standard slot duration (per STO agreement: 30 seconds)"
                example: 30
              description:
                type: string

    RateCard:
      type: object
      properties:
        rate_card_id:
          type: string
          example: RATE-001
        showtime_id:
          type: string
          example: SHOW-001
        showtime_code:
          type: string
          example: PRIME_TIME
        slot_duration_seconds:
          type: integer
          example: 30
        currency:
          type: string
          example: IDR
        base_price:
          type: number
          format: double
          description: Base price per slot (Patricia provides reference only)
          example: 150000
        effective_start_date:
          type: string
          format: date
          example: "2026-05-01"
        effective_end_date:
          type: string
          format: date
          example: "2026-12-31"
        active:
          type: boolean
          example: true

    RateCardListResponse:
      type: object
      properties:
        status:
          type: object
          properties:
            code:
              type: string
              example: RTC20000
            message:
              type: string
              example: Rate cards successfully retrieved
        data:
          type: array
          items:
            $ref: "#/components/schemas/RateCard"

    RateCardDetailResponse:
      type: object
      properties:
        status:
          type: object
          properties:
            code:
              type: string
              example: RTC20001
            message:
              type: string
              example: Rate card details successfully retrieved
        data:
          $ref: "#/components/schemas/RateCard"

    RateCardValidationRequest:
      type: object
      required:
        - showtime_id
        - campaign_duration_days
      properties:
        showtime_id:
          type: string
          example: SHOW-001
        campaign_duration_days:
          type: integer
          example: 7
        slot_duration_seconds:
          type: integer
          example: 30

    RateCardValidationResponse:
      type: object
      properties:
        status:
          type: object
          properties:
            code:
              type: string
              example: RTC20003
            message:
              type: string
              example: Rate card validation successful
        data:
          type: object
          properties:
            valid:
              type: boolean
              description: Whether a matching rate card exists
            matched_rate_card:
              type: object
              properties:
                rate_card_id:
                  type: string
                base_price:
                  type: number
                  format: double
                currency:
                  type: string

    RateCardChangesResponse:
      type: object
      properties:
        status:
          type: object
          properties:
            code:
              type: string
              example: RTC20004
            message:
              type: string
              example: Rate card changes successfully retrieved
        data:
          type: array
          items:
            type: object
            properties:
              rate_card_id:
                type: string
              operation:
                type: string
                enum:
                  - CREATE
                  - UPDATE
                  - DELETE
              updated_at:
                type: string
                format: date-time

    InventorySlot:
      type: object
      properties:
        slot_id:
          type: string
        location_id:
          type: string
          format: uuid
        showtime_id:
          type: string
        showtime_code:
          type: string
        date:
          type: string
          format: date
        start_time:
          type: string
        end_time:
          type: string
        timezone:
          type: string
        slot_duration_seconds:
          type: integer
          example: 30
        available:
          type: boolean
        reserved:
          type: boolean
        pricing:
          type: object
          properties:
            base_price:
              type: number
              format: double
            currency:
              type: string

    InventorySlotsResponse:
      type: object
      properties:
        status:
          type: object
          properties:
            code:
              type: string
              example: INV20000
            message:
              type: string
              example: Inventory slots successfully retrieved
        data:
          type: array
          items:
            $ref: "#/components/schemas/InventorySlot"

    SlotAvailabilityResponse:
      type: object
      properties:
        status:
          type: object
          properties:
            code:
              type: string
              example: INV20001
            message:
              type: string
              example: Slot availability successfully retrieved
        data:
          type: object
          properties:
            summary:
              type: object
              properties:
                available_slots:
                  type: integer
                  example: 80
                reserved_slots:
                  type: integer
                  example: 20
                total_slots:
                  type: integer
                  example: 120
            by_location:
              type: array
              items:
                type: object
                properties:
                  location_id:
                    type: string
                  available_slots:
                    type: integer
                  reserved_slots:
                    type: integer
                  total_slots:
                    type: integer
            by_showtime:
              type: array
              items:
                type: object
                properties:
                  showtime_id:
                    type: string
                  showtime_code:
                    type: string
                  available_slots:
                    type: integer
                  reserved_slots:
                    type: integer
                  total_slots:
                    type: integer
                  pricing:
                    type: object
                    properties:
                      base_price:
                        type: number
                        format: double
                      currency:
                        type: string

    CheckSlotAvailabilityRequest:
      type: object
      required:
        - location_ids
        - showtime_id
        - start_date
        - end_date
      properties:
        location_ids:
          type: array
          items:
            type: string
            format: uuid
          example:
            - CITY-001
        showtime_id:
          type: string
          example: SHOW-001
        start_date:
          type: string
          format: date
          example: "2026-05-12"
        end_date:
          type: string
          format: date
          example: "2026-05-20"

    CheckSlotAvailabilityResponse:
      type: object
      properties:
        status:
          type: object
          properties:
            code:
              type: string
              example: INV20002
            message:
              type: string
              example: Slot availability check completed
        data:
          type: object
          properties:
            available_slots:
              type: integer
              description: Number of available slots
              example: 80
            reserved_slots:
              type: integer
              description: Number of reserved slots
              example: 20
            total_slots:
              type: integer
              description: Total number of slots
              example: 120
            details:
              type: array
              items:
                type: object
                properties:
                  date:
                    type: string
                    format: date
                  available_slots:
                    type: integer
                  reserved_slots:
                    type: integer
                  total_slots:
                    type: integer
            by_showtime:
              type: array
              items:
                type: object
                properties:
                  showtime_id:
                    type: string
                  showtime_code:
                    type: string
                  available_slots:
                    type: integer
                  reserved_slots:
                    type: integer
                  total_slots:
                    type: integer
                  pricing:
                    type: object
                    properties:
                      base_price:
                        type: number
                        format: double
                      currency:
                        type: string

    InventorySlotDetailResponse:
      type: object
      properties:
        status:
          type: object
          properties:
            code:
              type: string
              example: INV20003
            message:
              type: string
              example: Inventory slot details successfully retrieved
        data:
          type: object
          properties:
            slot_id:
              type: string
            location_id:
              type: string
              format: uuid
            showtime_id:
              type: string
            date:
              type: string
              format: date
            start_time:
              type: string
            end_time:
              type: string
            timezone:
              type: string
            slot_duration_seconds:
              type: integer
              example: 30
            available:
              type: boolean
            reserved:
              type: boolean
            reservation_id:
              type: string
              nullable: true
            created_at:
              type: string
              format: date-time
            updated_at:
              type: string
              format: date-time

    HealthResponse:
      type: object
      properties:
        status:
          type: object
          properties:
            code:
              type: string
              example: HLT20000
            message:
              type: string
              example: Integration health status retrieved
        data:
          type: object
          properties:
            status:
              type: string
              enum:
                - HEALTHY
                - DEGRADED
                - UNHEALTHY
              example: HEALTHY
            components:
              type: object
              properties:
                database:
                  type: string
                  enum:
                    - CONNECTED
                    - DISCONNECTED
                mqtt_broker:
                  type: string
                  enum:
                    - CONNECTED
                    - DISCONNECTED
                storage:
                  type: string
                  enum:
                    - ACCESSIBLE
                    - INACCESSIBLE
                api_gateway:
                  type: string
                  enum:
                    - OPERATIONAL
                    - DEGRADED
            last_checked:
              type: string
              format: date-time
            uptime_percentage:
              type: number
              format: double

    MqttHealthResponse:
      type: object
      properties:
        status:
          type: object
          properties:
            code:
              type: string
              example: HLT20001
            message:
              type: string
              example: MQTT broker status retrieved
        data:
          type: object
          properties:
            status:
              type: string
              enum:
                - CONNECTED
                - DISCONNECTED
            broker_url:
              type: string
            connection_count:
              type: integer
            last_connected:
              type: string
              format: date-time

    DeviceHealthSummaryResponse:
      type: object
      properties:
        status:
          type: object
          properties:
            code:
              type: string
              example: HLT20002
            message:
              type: string
              example: Device health summary retrieved
        data:
          type: object
          properties:
            summary:
              type: object
              properties:
                total_devices:
                  type: integer
                online_devices:
                  type: integer
                offline_devices:
                  type: integer
                healthy_devices:
                  type: integer
                unhealthy_devices:
                  type: integer
            by_location:
              type: array
              items:
                type: object
                properties:
                  location_id:
                    type: string
                  online:
                    type: integer
                  offline:
                    type: integer
                  healthy:
                    type: integer
                  unhealthy:
                    type: integer

    StorageHealthResponse:
      type: object
      properties:
        status:
          type: object
          properties:
            code:
              type: string
              example: HLT20003
            message:
              type: string
              example: Storage accessibility status retrieved
        data:
          type: object
          properties:
            status:
              type: string
              enum:
                - ACCESSIBLE
                - INACCESSIBLE
            storage_provider:
              type: string
              example: AWS S3
            region:
              type: string
              example: ap-southeast-1
            last_access:
              type: string
              format: date-time
            response_time_ms:
              type: integer

  responses:
    BadRequest:
      description: |
        Invalid request payload. Can originate from:
        - **KrakenD Gateway**: Missing HMAC auth params
        - **Service**: Invalid JSON body or missing required fields
      content:
        application/json:
          schema:
            oneOf:
              - $ref: "#/components/schemas/GatewayErrorResponse"
              - $ref: "#/components/schemas/ServiceErrorResponse"
          examples:
            gateway:
              summary: KrakenD Gateway Error
              value:
                error: missing channel_id
            service:
              summary: Service Error
              value:
                status:
                  code: MST40002
                  message: Invalid request payload

    Unauthorized:
      description: |
        Authentication failed. Can originate from:
        - **KrakenD Gateway**: Invalid HMAC signature, expired timestamp, or unknown credentials
        - **Service**: Invalid or expired session (if applicable)
      content:
        application/json:
          schema:
            oneOf:
              - $ref: "#/components/schemas/GatewayErrorResponse"
              - $ref: "#/components/schemas/ServiceErrorResponse"
          examples:
            gatewayInvalidCredentials:
              summary: KrakenD - Invalid Credentials
              value:
                error: invalid credentials
            gatewayRequestExpired:
              summary: KrakenD - Request Expired
              value:
                error: request expired
            gatewayInvalidSignature:
              summary: KrakenD - Invalid Signature
              value:
                error: invalid signature
            service:
              summary: Service Error
              value:
                status:
                  code: MST40101
                  message: Unauthorized

    Forbidden:
      description: |
        Endpoint not authorized. Originates from KrakenD Gateway when the channel's `allowed_endpoints` does not include the requested path.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/GatewayErrorResponse"
          example:
            error: endpoint not authorized

    NotFound:
      description: |
        Resource not found. Originates from the Patricia service.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ServiceErrorResponse"
          examples:
            locationNotFound:
              summary: Location Not Found
              value:
                status:
                  code: MST40401
                  message: Location not found
            organizationNotFound:
              summary: Organization Not Found
              value:
                status:
                  code: ORG40401
                  message: Organization not found
            deviceNotFound:
              summary: Device Not Found
              value:
                status:
                  code: DEV40401
                  message: Device not found
            campaignNotFound:
              summary: Campaign Not Found
              value:
                status:
                  code: CMP40402
                  message: Campaign not found
            showtimeNotFound:
              summary: Showtime Not Found
              value:
                status:
                  code: SHW40401
                  message: Showtime category not found
            rateCardNotFound:
              summary: Rate Card Not Found
              value:
                status:
                  code: RTC40401
                  message: Rate card not found
            slotNotFound:
              summary: Inventory Slot Not Found
              value:
                status:
                  code: INV40401
                  message: Inventory slot not found

    Conflict:
      description: |
        Duplicate conflict. Originates from the Patricia service.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ServiceErrorResponse"
          examples:
            duplicateOrganization:
              summary: Duplicate Organization
              value:
                status:
                  code: ORG40901
                  message: Duplicate organization
            duplicateDevice:
              summary: Duplicate Device
              value:
                status:
                  code: DEV40901
                  message: Duplicate device
            duplicateCampaign:
              summary: Duplicate Campaign
              value:
                status:
                  code: CMP40901
                  message: Duplicate campaign
            campaignAlreadyCompleted:
              summary: Campaign Already Completed or Cancelled
              value:
                status:
                  code: CMP40902
                  message: Campaign already completed or cancelled

    ValidationError:
      description: |
        Business validation failed. Originates from the Patricia service.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ServiceErrorResponse"
          examples:
            masterData:
              summary: Master Data Validation Failed
              value:
                status:
                  code: MST42201
                  message: Validation failed
            campaign:
              summary: Campaign Validation Failed
              value:
                status:
                  code: CMP42201
                  message: Business validation failed

    InternalError:
      description: |
        Internal server error. Can originate from:
        - **KrakenD Gateway**: Upstream service unreachable
        - **Service**: Database failure, internal processing error
      content:
        application/json:
          schema:
            oneOf:
              - $ref: "#/components/schemas/GatewayErrorResponse"
              - $ref: "#/components/schemas/ServiceErrorResponse"
          examples:
            service:
              summary: Service Error
              value:
                status:
                  code: MST50001
                  message: Database query failed
            mqttUnreachable:
              summary: MQTT Broker Unreachable
              value:
                status:
                  code: HLT50002
                  message: MQTT broker unreachable
            storageInaccessible:
              summary: Storage Inaccessible
              value:
                status:
                  code: HLT50003
                  message: Storage inaccessible
